In [3]:
from athena.src.services.download.data import Data
from athena.src.services.pipeline.pipeline import Pipeline

rules = {
    "domains": ["stocks", "fixed etfs"]
}

download = Data(rules = rules, period = "4y")
data = download.get_data()

filters = {

    "volume": {
        "num_tickers": 100,
        "months": 1
    },

    "momentum": {
        "num_tickers": 8,
        "months": 6
    }

}

optimizer = {
    "hrp": {
        "covariance_function": "sample_cov",
        "linkage_method": "single"
    }
}

pipeline = Pipeline(data = data, filters = filters, optimizer = optimizer)
weights = pipeline.get_weights()

In [6]:
weights

             PETR3   CBAV3  SULA11   BBAS3   VALE3   VIVT3   SMTO3   AGRO3
2022-03-29  0.0709  0.0554  0.0892  0.0908  0.1675  0.2777  0.1055  0.1431

In [3]:
aloc = pipeline.get_allocations()
aloc.astype(int)

,PETR3.SA,CBAV3.SA,ENAT3.SA,PRIO3.SA,SLCE3.SA,SMTO3.SA,VIVT3.SA,JBSS3.SA
2022-03-15,46,88,68,31,70,43,119,80

In [ ]:
filters = {

    "volume": {
        "num_tickers": 100,
        "months": 1
    },

    "momentum": {
        "num_tickers": 8,
        "months": 6
    }

}

optimizer = {
    "hrp": {
        "covariance_function": "sample_cov",
        "linkage_method": "single"
    }
}

pipeline = Pipeline(data = data, filters = filters, optimizer = optimizer)
pipeline.get_weights()

In [1]:
from athena.src.services.download.data import Data

rules = {
    "domains": ["stocks", "variable etfs", "fixed etfs"]
}

backtesting_years = 3
download = Data(rules = rules, period = f"{backtesting_years + 2}y")
data = download.get_data()
data

            Close                                                         \
            AALR3  ABEV3 ACWI11 AERI3  AESB3  AFLT3  AGRO3  AGXY3  ALLD3
date
2017-04-03  15.23  16.30    NaN   NaN    NaN    NaN  10.55    NaN    NaN
2017-04-04  15.35  16.40    NaN   NaN    NaN    NaN  10.81    NaN    NaN
2017-04-05  15.38  16.19    NaN   NaN    NaN    NaN  10.62    NaN    NaN
2017-04-06  15.08  16.29    NaN   NaN    NaN    NaN  10.62    NaN    NaN
2017-04-07  15.17  16.34    NaN   NaN    NaN    NaN  10.79    NaN    NaN
...           ...    ...    ...   ...    ...    ...    ...    ...    ...
2022-03-24  17.98  14.23   9.83  6.00  12.00  10.18  32.38   9.92  14.75
2022-03-25  17.88  14.35   9.70  5.96  12.20  10.15  32.40  10.25  14.29
2022-03-28  17.99  14.75   9.71  5.80  12.16   9.64  31.98  10.25  14.90
2022-03-29  18.00  15.25   9.90  6.03  12.44   9.88  32.00  10.99  16.19
2022-03-30  18.18  15.19   9.91  5.95  12.25   9.66  31.75  11.20  15.54

                   ...   Open                                                  \
            ALPA3  ...  VULC3  VVEO3  WEGE3 WEST3 WHRL3  WIZS3  XBOV11 XFIX11
date               ...
2017-04-03    NaN  ...   4.25    NaN   6.30   NaN   NaN  12.21   64.83    NaN
2017-04-04    NaN  ...   4.30    NaN   6.35   NaN  2.29  12.41   65.11    NaN
2017-04-05   8.21  ...   4.19    NaN   6.38   NaN  2.37  12.28   65.50    NaN
2017-04-06   8.12  ...   4.20    NaN   6.33   NaN  2.37  12.19   64.51    NaN
2017-04-07   8.12  ...   4.47    NaN   6.31   NaN  2.37  12.15   64.22    NaN
...           ...  ...    ...    ...    ...   ...   ...    ...     ...    ...
2022-03-24  22.90  ...  10.39  16.59  32.93  2.39  5.99   8.49  113.87   9.57
2022-03-25  23.50  ...  10.50  17.04  33.28  2.60  5.98   8.75  117.66   9.66
2022-03-28  23.20  ...  10.50  16.89  33.00  2.80  6.16   8.74  116.60   9.60
2022-03-29  23.67  ...  10.30  16.89  34.00  2.74  6.11   8.86  117.50   9.65
2022-03-30  22.80  ...  10.42  17.64  33.95  2.98  6.02   8.93  118.62   9.73


           XINA11  YDUQ3
date
2017-04-03    NaN  13.46
2017-04-04    NaN  13.20
2017-04-05    NaN  13.10
2017-04-06    NaN  13.17
2017-04-07    NaN  13.70
...           ...    ...
2022-03-24   6.42  18.42
2022-03-25   6.42  19.34
2022-03-28   6.21  20.85
2022-03-29   6.31  21.92
2022-03-30   6.34  21.38

[1235 rows x 930 columns]

In [2]:
data.columns.levels[0]

Index(['Close', 'Volume', 'Open'], dtype='object')

In [1]:
from athena.src.services.download.data import Data

rules = {
    "domains": ["stocks", "variable etfs", "fixed etfs"]
}

backtesting_years = 3
download = Data(rules = rules, period = f"{backtesting_years + 2}y")
data = download.get_data()
data

[*********************100%***********************]  311 of 311 completed

            Adj Close                                                     \
             AALR3.SA   ABEV3.SA ACWI11.SA  AERI3.SA AESB3.SA   AFLT3.SA
Date
2017-03-30  14.651253  15.710307       NaN       NaN      NaN   3.644187
2017-03-31  15.472911  15.684511       NaN       NaN      NaN   3.644187
2017-04-03  15.294720  15.478135       NaN       NaN      NaN   3.644187
2017-04-04  15.413514  15.572727       NaN       NaN      NaN   3.644187
2017-04-05  15.443213  15.374948       NaN       NaN      NaN   3.644187
...               ...        ...       ...       ...      ...        ...
2022-03-24  17.900000  14.200000      9.83  5.999125    12.02  10.180000
2022-03-25  17.879999  14.320000      9.70  5.949298    12.25  10.150000
2022-03-28  17.990000  14.740000      9.72  5.800000    12.17   9.640000
2022-03-29  18.129999  15.250000      9.90  6.100000    12.47   9.880000
2022-03-30  18.180000  15.170000      9.87  5.930000    12.27   9.660000

                                                      ...    Volume            \
             AGRO3.SA AGXY3.SA   ALLD3.SA   ALPA3.SA  ...  VULC3.SA  VVEO3.SA
Date                                                  ...
2017-03-30   9.306594      NaN        NaN   7.889095  ...    2900.0       NaN
2017-03-31   9.298832      NaN        NaN   7.813601  ...   26400.0       NaN
2017-04-03   9.283307      NaN        NaN   7.813601  ...   36500.0       NaN
2017-04-04   9.516167      NaN        NaN   7.813601  ...   11800.0       NaN
2017-04-05   9.353165      NaN        NaN   8.077831  ...  135300.0       NaN
...               ...      ...        ...        ...  ...       ...       ...
2022-03-24  32.310001     9.92  14.750000  22.900000  ...  606800.0  220800.0
2022-03-25  32.169998    10.25  14.550000  23.500000  ...  448600.0  196000.0
2022-03-28  31.969999    10.25  14.990000  23.200001  ...  672800.0  186200.0
2022-03-29  31.940001    10.99  16.190001  23.209999  ...  384900.0  221900.0
2022-03-30  31.719999    11.20  15.360000  22.799999  ...  243000.0  385600.0

                                                                          \
             WEGE3.SA   WEST3.SA WHRL3.SA   WIZS3.SA XBOV11.SA XFIX11.SA
Date
2017-03-30  3779360.0        NaN    700.0   650600.0       0.0       NaN
2017-03-31  7749300.0        NaN   2700.0   666500.0       0.0       NaN
2017-04-03  4747340.0        NaN      0.0   307500.0       0.0       NaN
2017-04-04  2296060.0        NaN    500.0   415000.0       0.0       NaN
2017-04-05  3365700.0        NaN  13000.0   260800.0       0.0       NaN
...               ...        ...      ...        ...       ...       ...
2022-03-24  7001100.0   753800.0   2300.0  1250600.0     788.0   41008.0
2022-03-25  7154700.0  1500900.0  10300.0  1407700.0   18339.0   26711.0
2022-03-28  8764800.0   637500.0  18100.0  1067200.0     194.0   29273.0
2022-03-29  6285900.0  1567600.0  10600.0  1342900.0     225.0   14696.0
2022-03-30  5573300.0   939400.0   4900.0   974300.0      66.0   21130.0


            XINA11.SA   YDUQ3.SA
Date
2017-03-30        NaN  1535600.0
2017-03-31        NaN  2873700.0
2017-04-03        NaN  1238400.0
2017-04-04        NaN  1513600.0
2017-04-05        NaN  1477300.0
...               ...        ...
2022-03-24   953335.0  2166700.0
2022-03-25  1286981.0  5249900.0
2022-03-28   398286.0  2474800.0
2022-03-29   444130.0  2168900.0
2022-03-30   237299.0  3588300.0

[1248 rows x 1866 columns]

In [3]:
data.columns.levels[0]

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')